footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: white;
  border-top: 1px solid lightgrey;

  display: flex;
  justify-content: space-around;

  font-size: 0.8rem;
  height: 2.2rem;
}

.right-group, .left-group {
  margin: 0.5rem;
}

.right-group a {
  padding-left: 0.25rem;
  cursor: pointer;
  color: darkgreen;
}

.right-group span {
  padding-left: 1rem;
}

.left-group span {
  padding-right: 1rem;
}

.right-group a:hover {
  text-decoration: underline;
}