.header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  width: 100%;
  padding: 0.5rem 1rem;
  background: lightgrey;
}

.left-group > span {
  padding-right: 1rem;
}

.right-group {
  display: flex;
  align-items: center;
}

.right-group > * {
  padding-left: 1rem;
}

.health .icon {
  color: red;
}

.money .icon {
  color: gold;
}

.enemies .icon {
  color: green;
}

.pause-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}