#levels {
  width: 100%;
  display: flex;
}

.level {
  cursor: pointer;
  padding-left: 1rem;
}

.level.locked {
  opacity: 0.5;
  cursor: default;
}

.label {
  font-size: 0.8rem;
  text-align: center;
}