body, div, span, p, blockquote, a, canvas, img, button, h1, h2, h3,
table, tr, td, thead, tbody {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: inherit;
  background: transparent;
  border: none;
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: none;
  color: black;
}
