.title {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: block;
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: block;
  text-align: center;
}

.title, .subtitle {
  font-weight: 900;
}